/* contenedor header */
.cabecera__container {
    display: flex;
    justify-content: space-between;
    align-items:center;
    position: fixed;
    top:0%;
}

/* barra de busqueda */
.cabecera__buscar__item {
    display: none;
    
}

/* barra de categoria scroll */
.superior__seccion__container {
    display: flex;
    gap: 1rem;
    align-items: center;
    white-space:nowrap;
    overflow:inherit;
    scrollbar-width: none;


}

/* menu lateral */
.menu__container {
    position: fixed;
    bottom: 0%;
    height:74px;
    width: 100%;
    
}

/* items del menu */
.menu__lista:nth-child(2),
.menu__lista:nth-child(3),
.menu__lista:nth-child(4){
    display:none;
    
}

/* iconos barra lateral*/
.menu__lista {
    display: flex;
    gap: 1rem;
    
}


/* footer contenedor */
.rodapie__container {
    display: flex;
    flex-flow: column wrap;
    

}

/* para tablet y mas grandes */
@media (min-width:834px) {
    
    /* header contenedor */
    .cabecera__buscar__item {
        display: block;
    }
    /* header contenedor*/
    .rodapie__container {
        justify-content: space-between;
    }
    
}
